* {
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    color: #4a4a4a;
}

.background {
    margin: 10px;
}

.flex1 {
    height: 90px;
    width: 100%;
    background-color: gray;
    justify-content: flex-start;
    display: flex;
    border: solid black;
    border-radius: 15px;
}

.flex2 {
    height: 90px;
    width: 100%;
    background-color: gray;
    justify-content: flex-end;
    display: flex;
    border: solid black;
    border-radius: 15px;
}

.flex3 {
    height: 90px;
    width: 100%;
    background-color: gray;
    justify-content: center;
    display: flex;
    border: solid black;
    border-radius: 15px;
}

.flex4 {
    height: 90px;
    width: 100%;
    background-color: gray;
    justify-content: space-around;
    display: flex;
    border: solid black;
    border-radius: 15px;
}

.flex5 {
    height: 90px;
    width: 100%;
    background-color: gray;
    justify-content: space-between;
    display: flex;
    border: solid black;
    border-radius: 15px;
}

.flex6 {
    height: 90px;
    width: 100%;
    background-color: gray;
    justify-content: space-evenly;
    display: flex;
    border: solid black;
    border-radius: 15px;
}

.box1 {
    height: 60px;
    width: 60px;
    background-color: yellow;
    margin: 15px;
    border-radius: 5px;
}

.box2 {
    height: 60px;
    width: 60px;
    background-color: yellow;
    margin: 15px;
    border-radius: 5px;
}

.box3 {
    height: 60px;
    width: 60px;
    background-color: yellow;
    margin: 15px;
    border-radius: 5px;
}

.box4 {
    height: 60px;
    width: 60px;
    background-color: yellow;
    margin: 15px;
    border-radius: 5px;
}

.box5{
    height: 60px;
    width: 60px;
    background-color: yellow;
    margin: 15px;
    border-radius: 5px;
}

.box6 {
    height: 60px;
    width: 60px;
    background-color: yellow;
    margin: 15px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    align-items: center;
    height: 60px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #14468a;
    color: #fff;
    font-size: 1rem;
}

.üld {
    margin: 20px;
}

.oluline {
    margin: 20px;
}

.partnerid {
    margin: 20px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.pilt {
    height: 80px;
    width: 160px;
    background-color: white;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pilt img {
    max-width: 140px;
}

.header1 {
    display: flex;
    justify-content: space-around;
}

.text {
    padding-top: 30px;
    gap: 3;
    color: #14468a;
}

h4 {
    padding: 5px;
}

.header2 {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 1000px;

}

.header2 h3 {
    align-self: center;
    color: #14468A;
}
.logo img{
    height: 150px;
    max-width: 455px;
    object-fit: contain;
}

a {
    color: white;
}

.lingid {
    display: flex;
    align-self: center;
    padding: 30px;
}

.footer1 {
    display: flex;
    justify-content: space-evenly;
}

.main-header {
    display: flex;
    background-color: #EEEEEE;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(161 161 161 / 50%);
}

.nav {
    height: 60px;
    width: 100%;
    background-color: #14468A;
    color: #fff;
    display: flex;
}

.fb {
    height: 25px;
    width: 25px;
    align-self: center;
}

.insta {
    align-self: center;
    margin-left: 200px;
    margin-right: 10px;
}

.nav1 {
    display: flex;
    align-self: center;
    height: 60px;
    width: 50%;
    
}

.nav2 {
    display: flex;
    height: 60px;
    width: 50%;
    justify-content: center;
}

.lang {
    display: flex;
}

.lang h3 {
    margin: 10px;
    align-self: center
}

.search {
    padding: 30px;
    align-self: center;
}

.inside-nav {
    display: flex;
    height: 55px;
}

.input-field {
    height: 40px;
    width: 200px;
    background-color: #37629b;
    border-radius: 30px;
    font-size: 17px;
    color: #fff;
    border: none;
    padding: 15px;
    margin: 10px;
}

.name {
    margin: 15px;
}

::placeholder {
    color: white;
}

.fa-search {
    padding-top: 25px;
}