* {
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #4a4a4a;
}

.background {
    margin: 10px;
}

.flex1 {
    height: 90px;
    width: 100%;
    background-color: gray;
    justify-content: flex-start;
    display: flex;
    border: solid black;
    border-radius: 15px;
}

.flex2 {
    height: 90px;
    width: 100%;
    background-color: gray;
    margin-top: 25px;
    justify-content: flex-end;
    display: flex;
    border: solid black;
    border-radius: 15px;
}

.flex3 {
    height: 90px;
    width: 100%;
    background-color: gray;
    margin-top: 25px;
    justify-content: center;
    display: flex;
    border: solid black;
    border-radius: 15px;
}

.flex4 {
    height: 90px;
    width: 100%;
    background-color: gray;
    margin-top: 25px;
    justify-content: space-around;
    display: flex;
    border: solid black;
    border-radius: 15px;
}

.flex5 {
    height: 90px;
    width: 100%;
    background-color: gray;
    margin-top: 25px;
    justify-content: space-between;
    display: flex;
    border: solid black;
    border-radius: 15px;
}

.flex6 {
    height: 90px;
    width: 100%;
    background-color: gray;
    margin-top: 25px;
    justify-content: space-evenly;
    display: flex;
    border: solid black;
    border-radius: 15px;
}

.box1 {
    height: 60px;
    width: 60px;
    background-color: yellow;
    margin: 15px;
    border-radius: 5px;
}

.box2 {
    height: 60px;
    width: 60px;
    background-color: yellow;
    margin: 15px;
    border-radius: 5px;
}

.box3 {
    height: 60px;
    width: 60px;
    background-color: yellow;
    margin: 15px;
    border-radius: 5px;
}

.box4 {
    height: 60px;
    width: 60px;
    background-color: yellow;
    margin: 15px;
    border-radius: 5px;
}

.box5{
    height: 60px;
    width: 60px;
    background-color: yellow;
    margin: 15px;
    border-radius: 5px;
}

.box6 {
    height: 60px;
    width: 60px;
    background-color: yellow;
    margin: 15px;
    border-radius: 5px;
}

.h1 {
    align-content: center;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #14468a;
    color: #fff;
    font-size: 1rem;
}

.üld {
    margin: 20px;
}

.oluline {
    margin: 20px;
}

.partnerid {
    margin: 20px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.pilt {
    height: 80px;
    width: 160px;
    background-color: white;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pilt img {
    max-width: 140px;
}

.header1 {
    display: flex;
    justify-content: space-around;
}

.text {
    
}